<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id="cat" class="github.clyoudu.springioc.beans.Cat">
        <property name="legs" value="4"/>
        <property name="language" value="miaomiao"/>
    </bean>
    <bean id="dog" class="github.clyoudu.springioc.beans.Dog">
        <property name="legs" value="4"/>
        <property name="language" value="wangwang"/>
    </bean>

    <util:properties id="chickenProperties" location="classpath:/config/chicken.properties"/>
    <aop:aspectj-autoproxy/>
</beans>